.done h3 {
    color: red;
    text-decoration: line-through;
  }

.done button {
  color:rgba(0, 0, 0, 0.54);
  text-decoration: none;
}



  
.undone h3 {
  color:rgba(0, 0, 0, 0.87);
    
  }

.undone button {
    color:rgba(0, 0, 0, 0.54);
      
    }
  
.hide  {
      display: none !important;
  
    }
  
.nohide  {
      
    }