.nutrientFacts  td {
    font-weight: bold;
    padding: 0px;

}

.nutrientFacts tbody td + td {
    width: 50px;

}



.nutrientFacts tbody tr:nth-child(3) td:first-child {
    padding-left: 24px;
    font-weight: normal;
    
}

.nutrientFacts tbody tr:nth-child(4) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}
.nutrientFacts tbody tr:nth-child(8) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}
.nutrientFacts tbody tr:nth-child(9) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}

.saved {
    color: red !important;

}

.notSaved {

    color: inherit;

}
