/* set all TD to be bold */
.nutritionFacts  td {
    font-weight: bold;
    padding: 0px;

}

/* set the second TD in each row to have set width.  this is the % column */
.nutritionFacts tbody td + td {
    width: 50px;

}

/* target specific td first elements in rows to not be bold */
.nutritionFacts tbody tr:nth-child(3) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}
.nutritionFacts tbody tr:nth-child(4) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}
.nutritionFacts tbody tr:nth-child(8) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}
.nutritionFacts tbody tr:nth-child(9) td:first-child {
    padding-left: 24px;
    font-weight: normal;
}

/* show saved icon as red when saved */
.saved {
    color: red !important;
}

/* show saved icon as grey when not saved */
.notSaved {
    color: inherit;
}

.topPadding {
    padding-top: 12px;
}
.extratopPadding {
    padding-top: 24px;
}

.alignRight {
    margin-left: auto !important;
}

.hide  {
    display: none !important;
  }