

.nutrientFacts  td {
    font-weight: bold;

}



.nutrientFacts tbody tr:nth-child(2) td:first-child {
    padding-left: 48px;
    font-weight: normal;
    
}

.nutrientFacts tbody tr:nth-child(3) td:first-child {
    padding-left: 48px;
    font-weight: normal;
}
.nutrientFacts tbody tr:nth-child(7) td:first-child {
    padding-left: 48px;
    font-weight: normal;
}
.nutrientFacts tbody tr:nth-child(8) td:first-child {
    padding-left: 48px;
    font-weight: normal;
}
