.MainWindow {
    padding: 70px 20px 40px 20px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
}

.hide  {
    display: none !important;

  }

.fullWidth {
  width: 100%;
}

.recipeButton {
  margin-left: 16px !important;
}